.header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100px;

  background-color: var(--cards);
  gap: 16px;
}

h1{
    font-size: 25px;
    color: var(--text-titles);
}
